## LQTMOMENT Tutorial 1: Creating LQTMOMENT Format Catalog with Catalog Builder

> **ℹ️ INFO ℹ️**
> 
> Before using `lqtmoment` for magnitude calculation, you need to prepare the accepted catalog input format using lqtmoment's `catalog_builder`. You absolutely can use your own method to generate the lqtmoment catalog,  as long as it follows all required columns and structure.
>
> When creating lqtmoment catalog, you need to make sure the consistency and integrity of the `source_id`, the `source_id` should be a unique, sequential number with no duplicates. Since wave/seismogram processing will be indexed using this `source_id`, you need to be careful in managing this aspect.
> 
>

### 1. Programmatic Approach

#### A. Import Catalog Builder Function

For building lqt moment catalog we can use `build_catalog` function from `lqtmoment` package.

In [1]:
from lqtmoment import build_catalog
import pandas as pd

#### B. Initialize Input/Output File/Dir

In [2]:
# Initialize directories object
dirs = {
    "hypo_dir": r"F:\SEML\GITHUB DEPLOY\lqt-moment-magnitude\tests\sample_tests_data\data\catalog\hypo_catalog.xlsx",
    "pick_dir": r"F:\SEML\GITHUB DEPLOY\lqt-moment-magnitude\tests\sample_tests_data\data\catalog\picking_catalog.xlsx",
    "station_dir": r"F:\SEML\GITHUB DEPLOY\lqt-moment-magnitude\tests\sample_tests_data\data\station\station.xlsx",
    "output_dir": r"F:\SEML\GITHUB DEPLOY\lqt-moment-magnitude\tests\sample_tests_data\results\lqt_catalog"
}

#### C. Input Format

To generate an lqtmoment catalog, you need to prepare your `hypocenter catalog`, `picking catalog`, and `station` data in the following formats.

**1. Hypocenter Catalog Format**

In [3]:
# Load hypocenter catalog
hypo_df = pd.read_excel(dirs['hypo_dir'])
hypo_df.head()

,id,lat,lon,utm_x,utm_y,depth_m,elev_m,year,month,day,hour,minute,t_0,remarks
0,1001,38.088368,126.596433,289211.7600,4218348.044,1252.26,-1252.26,2024,5,11,15,30,35.91,NaN
1,1002,38.085685,126.591250,288749.4786,4218061.986,1035.99,-1035.99,2024,5,11,16,33,28.42,NaN
2,1003,38.084107,126.597537,289296.3985,4217872.598,705.16,-705.16,2024,5,27,1,19,6.78,NaN
3,1004,38.084155,126.602059,289693.1409,4217867.656,770.66,-770.66,2024,5,27,1,20,4.05,NaN
4,1005,38.088481,126.597389,289296.0093,4218358.339,1004.50,-1004.50,2024,5,27,1,21,12.38,NaN

> **ℹ️ INFO ℹ️**
>
> You can leave the `remarks` column blank; it is simply a feature field for storing special notes about the earthquake.

**2. Picking Catalog**

In [8]:
# Load picking catalog
picking_df = pd.read_excel(dirs['pick_dir'])
picking_df.head(10)

,id,station_code,year,month,day,hour,minute_p,p_arr_sec,p_polarity,p_onset,minute_s,s_arr_sec
0,1001,KJ06,2024,5,11,15,30,36.652054,+,I,30,37.180698
1,1001,KJ14,2024,5,11,15,30,36.706322,+,E,30,37.257805
2,1001,KJ11,2024,5,11,15,30,36.727074,+,I,30,37.323666
3,1001,KJ04,2024,5,11,15,30,36.809074,-,E,30,37.316196
4,1001,KJ10,2024,5,11,15,30,36.997971,-,E,30,37.776321
5,1001,KJ05,2024,5,11,15,30,37.322792,+,I,30,38.323971
6,1002,KJ06,2024,5,11,16,33,29.055487,+,I,33,29.589340
7,1002,KJ11,2024,5,11,16,33,29.148645,+,I,33,29.712334
8,1002,KJ14,2024,5,11,16,33,29.154320,+,I,33,29.654936
9,1002,KJ04,2024,5,11,16,33,29.165812,-,E,33,29.672575

> **ℹ️ INFO ℹ️**
>
> The importance of `p_polarity` and `p_onset` in calculating moment magnitude using lqtmoment is minimal, so you can leave these fields blank if you will.

**3. Station Data**

In [5]:
# Load station data
station_df = pd.read_excel(dirs['station_dir'])
station_df.head()

  network_code station_code        lat         lon  elev_m
0           KJ         KJ01  38.125223  126.563253    1120
1           KJ         KJ02  38.097281  126.566326    1496
2           KJ         KJ03  38.110387  126.569118    1335
3           KJ         KJ04  38.096023  126.572559    1571
4           KJ         KJ05  38.121308  126.561752    1150

#### D. Build LQT Format Catalog

In [9]:
catalog_df = build_catalog(dirs["hypo_dir"],
                           dirs["pick_dir"],
                           dirs["station_dir"])

catalog_df.head(10)

,source_id,source_lat,source_lon,source_depth_m,source_origin_time,network_code,station_code,station_lat,station_lon,station_elev_m,p_arr_time,p_travel_time_sec,p_polarity,p_onset,s_arr_time,s_travel_time_sec,s_p_lag_time_sec,earthquake_type,remarks
0,1001,38.088368,126.596433,1252.26,2024-05-11 15:30:35.909999,KJ,KJ06,38.095082,126.585931,1396,2024-05-11 15:30:36.652053,0.742054,+,I,2024-05-11 15:30:37.180698,1.270699,0.528645,very_local_earthquake,NaN
1,1001,38.088368,126.596433,1252.26,2024-05-11 15:30:35.909999,KJ,KJ14,38.102954,126.577039,1398,2024-05-11 15:30:36.706321,0.796322,+,E,2024-05-11 15:30:37.257804,1.347805,0.551483,very_local_earthquake,NaN
2,1001,38.088368,126.596433,1252.26,2024-05-11 15:30:35.909999,KJ,KJ11,38.107482,126.587313,1312,2024-05-11 15:30:36.727073,0.817074,+,I,2024-05-11 15:30:37.323665,1.413666,0.596592,very_local_earthquake,NaN
3,1001,38.088368,126.596433,1252.26,2024-05-11 15:30:35.909999,KJ,KJ04,38.096023,126.572559,1571,2024-05-11 15:30:36.809074,0.899075,-,E,2024-05-11 15:30:37.316196,1.406197,0.507122,very_local_earthquake,NaN
4,1001,38.088368,126.596433,1252.26,2024-05-11 15:30:35.909999,KJ,KJ10,38.114910,126.565193,1220,2024-05-11 15:30:36.997970,1.087971,-,E,2024-05-11 15:30:37.776321,1.866322,0.778351,very_local_earthquake,NaN
5,1001,38.088368,126.596433,1252.26,2024-05-11 15:30:35.909999,KJ,KJ05,38.121308,126.561752,1150,2024-05-11 15:30:37.322792,1.412793,+,I,2024-05-11 15:30:38.323970,2.413971,1.001178,very_local_earthquake,NaN
6,1002,38.085685,126.591250,1035.99,2024-05-11 16:33:28.420000,KJ,KJ06,38.095082,126.585931,1396,2024-05-11 16:33:29.055486,0.635486,+,I,2024-05-11 16:33:29.589340,1.169340,0.533854,very_local_earthquake,NaN
7,1002,38.085685,126.591250,1035.99,2024-05-11 16:33:28.420000,KJ,KJ11,38.107482,126.587313,1312,2024-05-11 16:33:29.148645,0.728645,+,I,2024-05-11 16:33:29.712333,1.292333,0.563688,very_local_earthquake,NaN
8,1002,38.085685,126.591250,1035.99,2024-05-11 16:33:28.420000,KJ,KJ14,38.102954,126.577039,1398,2024-05-11 16:33:29.154319,0.734319,+,I,2024-05-11 16:33:29.654935,1.234935,0.500616,very_local_earthquake,NaN
9,1002,38.085685,126.591250,1035.99,2024-05-11 16:33:28.420000,KJ,KJ04,38.096023,126.572559,1571,2024-05-11 16:33:29.165811,0.745811,-,E,2024-05-11 16:33:29.672574,1.252574,0.506763,very_local_earthquake,NaN

> **ℹ️ INFO ℹ️**
>
> As you can see from the dataframe above, the `build_catalog` function will automatically create all the new catalog columns necessary for lqtmoment to calculate moment magnitude.

#### E. Save the Catalog to Results Dir

This formatted catalog will be used throughout calculation processes.

In [17]:
from pathlib import Path
catalog_df.to_excel(Path(dirs["output_dir"])/"lqt_catalog.xlsx", index=False)

> **ℹ️ INFO ℹ️**
>
> The lqtmoment accepts both `.xlsx` and `.csv` format as input.

### 2. Command-Line Interface Approach

`lqtmoment` package also includes **Command-Line Interface (CLI)** capabilities. If the input format is well defined (following formats above), you can build lqtmoment catalog simply by entering a command line in terminal, as shown bellow (ensure that the `lqtmoment` package is correctly installed in your working environment beforehand):

> `$ lqtcatalog --hypo-file dir/hypo_catalog.xlsx --pick-file dir/picking_catalog.xlsx --station-file dir/station.xlsx`

> **ℹ️ INFO ℹ️**
>
> type `$ lqtcatalog --help` for more details.